C:/mythic-score-app/M+ScoreCircleBfA/autocommit.bat
C:/mythic-score-app/M+ScoreCircleBfA/core.lua
C:/mythic-score-app/M+ScoreCircleBfA/lfg_load.xml
C:/mythic-score-app/M+ScoreCircleBfA/M+ScoreCircleBfA.toc
C:/mythic-score-app/M+ScoreCircleBfA/mythic-score.jar
C:/mythic-score-app/M+ScoreCircleBfA/score_tier.lua